
{% extends 'base.html' %}

{% block content %}
<div>
	<a href="/" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i>Go Home</a>
</div>
	<div class="'col-4 offset-4">

		<div class='card mt-3'>
			<div class='card-header'>
				<a href="/{{todo.id}}"><h4>{{ todo.name }}</h4></a>
			</div>
			<div class='card-body'>
				<p> It's due {{ todo.due_date }}</p>
			</div>
			<div class="card-footer">
				<a class="btn btn-secondary" href="/{{ todo.id }}/update">Update this todo
				</a>
				<a class='btn btn-secondary' href="/{{ todo.id }}/delete"> Delete this todo
				</a>
			</div>
		</div>
	</div>
	{# {% if request.user.is_authenticated %}
		Hello {{ request.user.username }}
	{% else %}
	Hello anonymous User
	{% endif %} #}
	
{% endblock content%}